body {
    width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Noto Serif', serif;
}
*{box-sizing:border-box;font: bold 20px Arial, sans-serif;}


h1 {
    border-radius: 5px;
    position: relative;
    left: 465px;
    top: 90px;
    align-items: center;
    width: 350px;
    height: 100px;
	font-size:40px;
	text-align:center;
	margin-bottom:110px;
	background:#3F475B;
	color:white;
	margin-top:0;
    padding:20px;

}



.main {
    width: 350px;
    background-color: #3f475b;
    height: 425px;
    padding: 15px;
    box-shadow:2px 2px 2px gray;
    border-radius: 4px;
    position: relative;
    margin: 50px auto;

}

#screen {
    list-style:none;
	color:gray;
	height:55px;
    width:58px;
    margin-left: 5px;
	border-radius:5px;
	border-top:4px solid #828A9B;
	text-align:center;
	font-weight:bold;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom:8px;
    width:98%;
	background: white;
    overflow:hidden;

}
.clearR {
    width:90%;
    height: 35px;
	background:white;
	/* padding:12px 17px; */
	position:absolute;
	border-radius:5px;
	left:20px;
	top:85px;
    color:#888888;
    border-bottom:4px solid #828A9B;
	cursor:pointer;
	text-align:center;

}

.clearR:hover{
        background: #434444;
        border-bottom: 4px solid white;
        color: white;
}



.btn {


    list-style:none;
    float:left;
    width:70px;
    background:white;
    margin:9px 5px;
    padding:10px;
    border-bottom:4px solid #828A9B;
    border-radius:5px;
    color:#888888;
    text-align:center;
    transition:.2s;
    cursor:pointer;
    position: relative;
    left: 3px;
    top: 40px;

}

.btn:hover{
    background: #434444;
    border-bottom: 4px solid white;
    color: white;
}




.btn-0{
    list-style:none;
    float:left;
    width:48%;
    background:white;
    margin:7px 3px;
    padding:10px;
    border-bottom:4px solid #828A9B;
    border-radius:5px;
    color:#888888;
    text-align:center;
    transition:.2s;
    cursor:pointer;
    position: relative;
    left: 2px;
    top: 40px;

}

.btn-0:hover{
    background: #434444;
    border-bottom: 4px solid white;
    color: white;
}




.btn-equal{
    list-style:none;
    float:left;
    width:48%;
    background:white;
    margin:7px 3px;
    padding:10px;
    border-bottom:4px solid #828A9B;
    border-radius:5px;
    color:#888888;
    text-align:center;
    transition:.2s;
    cursor:pointer;
    position: relative;
    left: 2px;
    top: 40px;

}
.btn-equal:hover{
    background: #434444;
    border-bottom: 4px solid white;
    color: white;
}


.footer-div {
    align-items: center;
    text-align: center;
     background-color: gray;
     color: black;
     width: 315px;
     height: 25px;
     position: relative;
     left: 485px;
     bottom: 85px;
     border-radius: 5px;
}



